/* Transfer Service */
.payments_and_cash_management {
	margin-top: 48px;
}

.mb-24 {
	margin-bottom: 24px !important;
}

.box-shadow {
	box-shadow: 0px 6px 12px #00000029;
}

/*------ Process Description -------*/

.payments_and_cash_management .process_descr .descr_box {
	display: flex;
	margin-bottom: 24px;
}

.payments_and_cash_management .process_descr .process_item {
	flex: 1;
	padding: 24px;
}

/* Currency blog */

.payments_and_cash_management .currency_item {
	padding: 24px;
	display: block;
	margin-bottom: 16px;
}
.payments_and_cash_management .currency_item:hover {
	text-decoration: none;
}

.payments_and_cash_management .currency_item strong {
	color: #FFB600;
	text-transform: uppercase;
	font-size: 24px;
	vertical-align: middle;
}

.payments_and_cash_management .currency_item span {
	font-size: 14px;
	color: var(--color-text-400);
	margin-left: 50px;
}

/* Contact info */
.payments_and_cash_management .contact {
	padding: 24px;
}

.payments_and_cash_management .contact_info strong {
	display: block;
}

.payments_and_cash_management .contact {
	display: flex;
	align-items: center;
}

.payments_and_cash_management .contact span {
	margin-left: 38px;
	color: var(--color-primary-500);
}

/* Media for Video and Columns
================================ */

@media(max-width: 1200px){
	.payments_and_cash_management .contact span {
		margin-left: 20px;
		font-size: 13px;
	}
}

@media(max-width: 992px) {
	.payments_and_cash_management .contact span {
		margin-left: 38px;
		font-size: 16px;
	}
}